<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head") %>
    <title>Document</title>
</head>
<body>
    <%- include("./partials/nav") %>
    <div class="container">
        <form action="/blog" method="post" enctype="multipart/form-data">
            <div class="mb-3 mt-3">
                <label for="coverImageUrl" class="form-label">File</label>
                <input type="file" name="coverImageUrl" class="form-control" id="coverImageUrl" aria-describedby="title">
              </div>
              <div class="mb-3 mt-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" name="title" class="form-control" id="title" aria-describedby="title">
              </div>
            <div class="mb-3 mt-3">
              <label for="body" class="form-label">Body</label>
              <textarea class="form-control" placeholder="Leave a comment here" name="body" id="body"></textarea>
            </div>
           
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    </div>
    
    <%- include("./partials/scripts") %>
</body>
</html>